:root {
  --narrow-container-width: 960px;
  --default-container-width: 1024px;
  --layout-container-width: 1440px;

  --primary-color: #F4F4F4;
  --primary-foreground-color: #2381BF;

  --secondary-color: #F4F4F4;
  --secondary-foreground-color: #FFF;

  --accent-color: #2381BF;
  --accent-foreground-color: #FFF;

  --link-foreground-color: #FFF;
}